{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="title" id="myInput" placeholder="Title...">
    <input type="submit" value="Add">
</form>
    <h4>All haven't done jobs</h4>
<ul>
    {% for todo in todos reversed %}
    <li>{{ todo.title | title}}<button type="submit" class="addBtn"><a style="text-decoration: none; color: black" href="delete/{{todo.id}}">Delete</a></button></li>
    {% endfor %}
</ul>
</body>
{% endblock %}